@media all and (max-width: 1200px) {
    .header__btn {
        width: 40%;
    }
    .portfolio_item {
        width: 30%;
    }
    .portfolio_item img {
        width: 100%;
    }
}

@media all and (max-width: 1150px) {
    .header__title_left {
        font-size: 60px;
    }

.navbar__list {
    width: 40%;
}

.footer_list {
    width: 40%R;
}

.header__block_right {
    width: 60%;
}

.header__img {
    height: 90%;
    width: 100%;
}

.header__btn {
    width: 55%;
}

#vector_1 {
    left: -35px;
}

#vector_3 {
    left: -10px;
}
.info-block_title {
    font-size: 50px;
}
}

@media all and (max-width: 1000px) {
    .header__block_right {
        width: 50%;
    }

    .header__img {
        height: 85%;
    }

    .portfolio_item {
        padding: 12px;
    }
}

@media all and (max-width: 950px) {
    .services_title_main {
        font-size: 40px;
    }

    .portfolio_title {
        font-size: 50px;
    }

    .portfolio_item {
        width: 27%;
    }

    .info-block_title {
        font-size: 42px;
    }
}

@media all and (max-width: 860px) {
    .navbar__list {
        width: 50%;
        padding: 0;
    }

    .navbar_input {
        width: 20%;
    }

    .navbar_logo {
        width: 15%;
    }

    header {
        flex-direction: column;
    }

    .header__block_left {
        width: 80%;
    }

    .header__btn {
        width: 30%;
    }

    .header_title {
        margin-top: 90px;
    }

    .header__block_right {
        width: 80%;
        align-items: center;
        margin-top: 20px;
    }

    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    .footer_list {
        flex-direction: column;
        align-items: center;
    }

    .footer_item {
        margin-bottom: 5px;
    }

    .footer_info {
        font-size: 14px;
        margin-top: 0;
    }
}

@media all and (max-width: 750px) {
    .navbar__list
    .navbar_input {
        display: none;
    }

    .navbar_btn_burger {
        display: block;
    }

    .header__btn {
        width: 35%;
    }

    .info-block {
        flex-direction: column;
        align-items: center;
    }

    .info-block_title {
        width: 85%;
        margin-bottom: 15px;
    }
    
    .info-block_btn {
        padding: 10.5px 40px;
    }

    
}

@media all and (max-width: 700) {
    .header__title_left {
        margin-top: 50px;
        font-size: 55px;
    }
    
    .services_list {
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .services_item {
        width: 40%;
    }

    .services_title_main {
        width: 75%;
    }

    .info-block {
        margin-top: 65px;
    }
}

@media all and (max-width: 600px) {
    .navbar_logo {
        width: 25%;
    }

    .header__title_left {
        font-size: 45px;
    }

    .header_desc_left {
        font-size: 18px;
    }

    .header__btn {
        width: 50%;
    }

    #vector3 {
        left: -65px;
    }

    .portfolio_title {
        font-size: 40px;
        margin: 0;
    }

    .info-block_title {
        width: 95%;
    }
}

@media all and (max-width: 500px) {
    .header__title_left {
        font-size: 35px;
    }

    .header_desc_left {
        font-size: 15px;
        line-height: 1.5;
    }

    .header_img {
        width: 450px;
    }
    
    .header__btn {
        width: 50%;
        font-size: 15px;
        height: 40px;
    }

    .vector {
        width: 45px;
        height: 45px;
    }

    #vector_1 {
        width: 60px;
        height: 35px;
    }

    #vector_2 {
        top: 100px;
    }

    #vector_3 {
        left: -30px;
    }

    #vector_4 {
        bottom: 5px;
        right: 20px;
    }

    .services_title_main {
        width: 100%;
    }

    .services_item {
        width: 60%;
    }

    .services_list {
        justify-content: center;
    }

    .portfolio_item:nth-child(odd){
        display: none;
    }

    .portfolio_list {
        justify-content: center;
    }

    .portfolio_item {
        width: 70%;
        margin-top: 25px;
    }

    .info-block_title {
        font-size: 30px;
        width: 100%;
    }

    .info-block_btn {
        font-size: 15px;
    }
} 

@media all and (max-width: 400px) {
    .navbar_logo {
        width: 35%;
    }

    .header_title_left {
        font-size: 30px;
    }

    #vector_1 {
        top: 25px;
    }

    #vector_2 {
        top: 15px;
        right: -10px;
    }

    #vector_3 {
        width: 70px;
        height: 70px;
        left: 30px;
        bottom: -35px;
    }

    #vector_4 {
        right: -25px;
    }

    .services_title_main {
        font-size: 30px;
    }

    .services_title {
        font-size: 20px;
        margin-top: 15px;
    }

    .services_desc {
        font-size: 15px;
    }

    .info-block_title {
        font-size: 30px;
    }

    .portfolio_title {
        font-size: 36px;
    }

    .footer_list {
        width: 50%;
    }

    .footer_logo {
        width: 100px;
        height: 30px;
    }
}

@media all and (max-width: 320px) {
    .header_img {
        width: 300px;
    }

    .header__btn {
        width: 65%;
        padding: 3%;
    }

    .vector {
        width: 35px;
        height: 35px;
    }

    #vector_2 {
        height: 20px;
    }

    #vector_3 {
        left: -5px;
    }

    .services_icon {
        width: 60px;
        height: 60px;
    }

    /*.info-block_btn {
        width: 55%;
    }*/

    .footer_list {
        width: 55%;
    }
}